* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

@media (max-width: 520px) {
  .logo, h1 {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    padding-left: 100px;
    background-color: gray;
    color: white;
  }
}

@media (min-width: 521px) and (max-width: 900px) {

}

@media (min-width: 901px) {

}